   <div class='header' id="mainbg">
                     <div class="container">
                <div class="col-md-12">
                <div id="homescreen">
                <div class='col-md-6'>
                    <div id="header-name">
                        
                        </div>
                    <div id="call">
                      <h1 class="wow fadeInDown" >Klik<span style="color:#da7126;"><i>Pad</i></span></h1>  
                      <p class="wow slideInLeft">Your perfect phonebook web app</p><hr class="hr-dark">
                    <h2>Stay in touch.</h2>
                    <h3>{{myHeader}}</h3>
                    </div>
                    <div id="sign-up">
                        <p>Are you a new user? Sign up below, its free and very easy</p>
                       <button  ng-click='reg()' class='btn btn-default wow pulse' data-wow-iteration="infinite" data-wow-duration="1500ms">Register now</button>
                      
                      
</div>



                </div>
                <div class="col-md-6 wow pulse" data-wow-iteration="infinite" data-wow-duration="1500ms">
                    <div id="login">
                        <h2>Sign-in</h2>
                        <hr>
                        <h4>Existing user? Login here!</h4>
                          <br>
                    <form action='/' method='POST'>
                        <div class="form-group" id="sign-in">
                            <label>Username</label>
                            <input type='text' name='username' placeholder="Enter username" class='form-control' required>
                        </div>
                         <div class="form-group" id="sign-in">
                            <label>Password</label>
                            <input type='password' name='password'  placeholder="Password here" class='form-control' required>
                        </div>
                         <div class="form-group" id="sign-in">
                            <button class='btn btn-default form-control' onclick="alert('Welcome back');">Login</button>
                        </div>
                        </form>
                     </div>
                  </div>
                </div>
                    <div>
            </div>
         
        </div>