<div class="container">
<div class="col-md-12 ">
    <div id='contact_page'>
   
                       
                      <h2>Klik<span style="color:#da7126;"><i>Pad</i></span></h2>  
                      <p>Your perfect Contact web app</p><hr class="hr-dark">
                      
                      </div>

                      <div class="col-md-10 col-md-offset-3" id="menu1">
                        <h2><button class="btn btn-default" ng-click='contactPage()'><span class="fa fa-arrow-left"></span> Back</button>
                         <span id="contact_list">Register</span></h2></div><br>
                         <div class="row"></div>
                             <script type="text/ng-template" id="alert.html">
                     <div ng-transclude></div>

                       </script>
                       <div uib-alert ng-repeat='alert in alerts' ng-class="'alert-'+(alert.type)" style=" font-weight:bold; font-family:'Roboto Slab', serif;" >{{alert.msg}}</div>
                         <div class="col-md-8 col-md-offset-2" id="new_contact">
                            <h2>Register<hr></h2><br>
                         <form action='/register' method='POST'>
                          
                             <div class="form-group" id="input">
                               <div class="row">
                                 <label class="col-md-3">Name:</label>
                                   <div class="col-md-8">
                                 <input type="text" name='name' placeholder="First Name" class="form-control" required> 
                                 </div></div></div>
                                   <div class="form-group" id="input">
                                       <div class="row">
                                 <label class="col-md-3">Username:</label>
                                 <div class="col-md-8">
                                 <input type="text" name='name' placeholder="choose a username" class="form-control" required> 
                                 </div>
                                 </div></div>
                                   <div class="form-group" id="input">
                                       <div class="row">
                                 <label class="col-md-3">Password:</label>
                                   <div class="col-md-8">
                                 <input type="tel" name='password' placeholder="Pick a password" class="form-control" required> 
                                 </div>
                                 </div></div>
                                   <div class="form-group" id="input">
                                       <div class="row">
                                  <label class="col-md-3">Email Address:</label>
                                    <div class="col-md-8">
                                 <input type="email" name='email' placeholder="Email Address" class="form-control"> 
                                 </div></div></div>
                                 <div class="form-group" id="input">
                                 <div class="col-md-4 col-md-offset-4">
                                 <button class="btn btn-default form-control">Sign up</button>
                                 </div></div>
                             </form>
                             </div>
                         </div>
</div>
</div>